version: 2
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    # machine: true
    environment:
      # ARCH: $(go env GOARCH)
      NODE_DISK_MANAGER: ndm
      CHANGE_MINIKUBE_NONE_USER: true
    working_directory: /go/src/github.com/openebs/node-disk-manager
    steps:
      # - run:
      #     # To avoid removing sudo from everywhere I came up with this solution.
      #     name: Faking sudo
      #     command: |
      #       echo 'function sudo { $@; }' >> $BASH_ENV
      #       echo 'export -f sudo' >> $BASH_ENV
      #       source $BASH_ENV

      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Updating the system
          command: apt update

      - run:
          name: Upgrading the system
          command: |
            apt -y upgrade

      - run:
          name: Installing sudo
          command: apt-get -y install sudo

      - run:
          name: Installing Python
          command: apt install -y python2.7

      - run:
          name: Installing curl
          command: apt install -y curl

      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv -f /tmp/docker/* /usr/bin

      - run: pwd

      - run: cat /etc/os-release
      # - run: lsb_release -a

      - run: ls -lrth

      # Prequesites for kubelet, kubeadm and kubectl
      - run:
          name: Prequesites for kubelet, kubeadm and kubectl
          command: |
            apt install -y apt-transport-https
            curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
            cat <<EOF >/etc/apt/sources.list.d/kubernetes.list
            deb http://apt.kubernetes.io/ kubernetes-xenial main
            EOF
            apt update

      # Installing kubelet
      - run:
          name: Installing kubelet
          command: apt install -y kubelet=1.10.0-00

      # Installing kubeadm
      - run:
          name: Installing kubeadm
          command: apt install -y kubeadm=1.10.0-00

      # Installing kubectl
      - run:
          name: Installing kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.9.4/bin/darwin/amd64/kubectl
            sudo chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl

      # Postrequisite of kubelet, kubeadm and kubectl
      # - run:
      #     name: Postrequisite of kubelet, kubeadm and kubectl
      #     command: |
      #       systemctl daemon-reload
      #       systemctl enable kubelet
      #       systemctl start kubelet

      # Installing minikube
      - run:
          name: Installing minikube
          command: |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.26.0/minikube-linux-amd64
            sudo chmod +x minikube
            sudo mv minikube /usr/local/bin/

      # Installing git
      - run:
          name: Installing git
          command: sudo apt install -y git

      # Installing zip
      - run:
          name: Installing zip
          command: sudo apt install -y zip

      # Setting-up Go 1.9.3
      - run:
          name: Setting-up Go 1.9.3
          command: |
            curl -o golang.tar.gz https://storage.googleapis.com/golang/go1.9.3.linux-amd64.tar.gz
            tar -C /usr/local -xzf golang.tar.gz
            rm golang.tar.gz
            echo 'export GOROOT=/usr/local/go' >> $BASH_ENV
            echo 'export GOPATH=/go' >> $BASH_ENV
            echo 'export PATH="${GOROOT}/bin:${GOPATH}/bin:${PATH}"' >> $BASH_ENV
            source $BASH_ENV

      # Save GOARCH in ARCH Environment variable
      - run:
          name: Save GOARCH in ARCH Environment variable
          command: |
            echo 'export ARCH=$(go env GOARCH)' >> $BASH_ENV
            source $BASH_ENV

      # Inatalling make
      - run:
          name: Installing Build-Essential
          command: |
            sudo apt install -y build-essential

      # Doing actual operations
      - run:
          name: Installing Other Tools
          command: make bootstrap

      # Building Project
      - run:
          name: Building Project
          command:  make

      # Starting minikube
      - run:
          name: Starting minikube
          command: minikube start --vm-driver=none --feature-gates=MountPropagation=true

      # Testing
      - run:
          name: Testing
          command:  make e2e

