version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    environment:
      ARCH: $(go env GOARCH).
      NODE_DISK_MANAGER: ndm
      CHANGE_MINIKUBE_NONE_USER: true
    working_directory: /go/src/github.com/openebs/node-disk-manager
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            sudo mv -f /tmp/docker/* /usr/bin
      - run: pwd
      - run: cat /etc/os-release
      # - run: lsb_release -a
      - run: ls -lrth
      - run: echo "$GOPATH"
      # - run: sudo docker version
      - run: sudo apt update
      - run: sudo apt upgrade
      - run: curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.9.4/bin/darwin/amd64/kubectl
      - run: sudo chmod +x ./kubectl
      - run: sudo mv ./kubectl /usr/local/bin/kubectl
      - run: curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.26.0/minikube-linux-amd64
      - run: sudo chmod +x minikube
      - run: sudo mv minikube /usr/local/bin/
      - run: sudo apt install -y build-essential
      - run: make bootstrap
      - run: make
      - run: make e2e
