version: 2
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    # machine: true
    environment:
      # ARCH: $(go env GOARCH)
      NODE_DISK_MANAGER: ndm
      CHANGE_MINIKUBE_NONE_USER: true
    working_directory: /go/src/github.com/openebs/node-disk-manager
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Updating and upgrading system
          command: |
            apt update
            apt -y upgrade
      - run:
          name: Installing curl
          command: apt install -y curl
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv -f /tmp/docker/* /usr/bin
      - run: pwd
      - run: cat /etc/os-release
      # - run: lsb_release -a
      - run: ls -lrth
      - run:
          name: Build-Environment
          command: |
            # Faking sudo here
            # To avoid removing sudo from everywhere I came up with this solution.
            function sudo { $@; }
            # Installing kubectl
            curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.9.4/bin/darwin/amd64/kubectl
            sudo chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
            # Installing minikube
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.26.0/minikube-linux-amd64
            sudo chmod +x minikube
            sudo mv minikube /usr/local/bin/
            # Install git
            sudo apt install -y git
            # Install zip
            sudo apt install -y zip
            # Install Go 1.9.3
            curl -o golang.tar.gz https://storage.googleapis.com/golang/go1.9.3.linux-amd64.tar.gz
            tar -C /usr/local -xzf golang.tar.gz
            rm golang.tar.gz
            export GOROOT=/usr/local/go
            export GOPATH=/go
            export PATH="${GOROOT}/bin:${GOPATH}/bin:${PATH}"
            # Environment variables
            export ARCH=$(go env GOARCH)
            # Inatalling make
            sudo apt install -y build-essential
            # Doing actual operations
            make bootstrap
            make
            make e2e
